* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font: 18px Arial, sans-serif;
    height: 100vh;
}

header {
    border-bottom: 1px solid black;
}

aside {
    flex: 1;
    height: 100vh;
    width: 12rem;
    border-right: 1px solid black;
    padding: 10px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.add {
    width: 80px;
    border-radius: 7px;
}

.add:hover {
    cursor: pointer;
}

img[alt="logo"] {
    width: 200px;
}

span {
    display: inline-block;
}

.content {
    display: flex;
}

main {
    flex: 8;

    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: 0;
    font-size: 25px;
}

input:focus {
    outline: 0;
}

.invisible {
    display: none;
}

.musics {
    margin-top: 1rem;
}